 /* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Light Blue background */
}
/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2e3b4e; /* Background color for the header */
}

.logo {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
    margin-left: 20px;
}

nav button {
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: #45a049;
}

header {
    background-color: rgb(13, 134, 152); /* Dark Blue */
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(171, 210, 220);
    font-size: 18px;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Home Section */
#home {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: rgb(212, 227, 229);
    text-align: left;
    padding: 100px 20px;
    min-height: 100vh;
}


#home h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#home p {
    font-size: 20px;
}

.home-info {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Content Sections */
.content-section {
    padding: 40px 20px;
    display: none; /* Initially hidden */
    background-color: #379eb8;
    color: #e9eff1; /* Dark Blue text */
    margin: 20px 0;
    border-radius: 10px;
}

.content-section h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.content-section p {
    font-size: 18px;
    line-height: 1.6;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00796b;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #004d40;
}

/* Hero Image */
.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

 